/*
    Javier Laspina

*/

.container {
  max-width: 680px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  background-color: #f5f5f5;
  font-family: 'Vollkorn', serif;
}
.docs-section {
  margin-top: 50%;
  padding: 30px;
  display: table;
  font-size:1.5rem
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
<<<<<<< HEAD
=======
.footer-list {
    list-style: none;
    margin-bottom: 0;
}

@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0;
  }
  .navbar, .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .navbar-spacer {
    display:none;
  }
  .navbar > .container {
    width: 100%;
  }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }
  .navbar-item {
    /*display: inline-block; */
    position: relative;
    float: left;
    margin-bottom: 0;
  }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
  }
  .navbar-link.active {
    color: #33C3F0;
  }
  .footer-list {
    list-style: none;
    margin-bottom: 0;
  }
  .footer-item {
    position: relative;
    float: left;
    margin-bottom: 0;
  }
  .footer-link {
     margin-right: 35px;
     line-height: 6.5rem;
  }
  #copyright {
    margin-right: 35px;
    line-height: 6.5rem;
  }
>>>>>>> 070a14acf8f454f7524ba6288fcc825c92bc3438

.footer-list {
  list-style: none;
  margin-bottom: 0;
}

.footer-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}
.footer-link {
  margin-right: 35px;
  line-height: 6.5rem;
}
